header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    flex-direction: row;
    position: fixed;
    top: 0%;
}
header b{
    background-color: #007bff;
    padding: 20px;
    color: white;
    font-size: large;
    font-weight: 500;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #007bff;
    color: white;
}
nav h2{
    background-color: #007bff;
    padding-right: 570px;
    margin-left: 20px;
    color: white;
    font-size: 30px;
}
nav button{
    margin-left: 20px;
    background-color: rgb(76, 192, 76);
    color: white;
    font-weight: bold;
}
